<div class="main">
  <div class="header mt-5">
    <h4 class="text-secondary text-center">Add New Reader</h4>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 offset-2 main-form">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1" class="text-info">Name</label>
          <input
            type="text"
            class="form-control input-lg"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="text-info">Weekly Goal</label>
          <input
            type="text"
            class="form-control input-lg"
            id="exampleInputPassword1"
            placeholder="Enter weekly goal"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="text-info">Total Read</label>
          <input
            type="text"
            class="form-control input-lg"
            id="exampleInputPassword1"
            placeholder="Enter total read"
          />
        </div>
        <div class="button">
          <button type="submit" class="btn btn-info btn-block">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
